.Userdetails {
        text-align: center;
        border-radius: 12px;
        padding-top: 12px;
        background-color: blueviolet;
        color: rgb(219, 229, 229);
        width: 50rem;
        margin: auto;
        margin-top: 5%;
}
.Userdetails li {
        text-align: center;
        border-radius: 12px;
        padding: 12px;
        background-color: rgb(54, 47, 61);
        color: rgb(219, 229, 229);
        width: 40rem;
        margin: auto;
        margin-top: 1%;
}